{% extends 'front/base.html' %} 
{% load static %} 

{% block content %}
<div class="wrapper">
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <br></br>
                        <div class="fileinput-new img-no-padding">
                            <img class = "tengah" src="{% static 'front/img/faces/dinamita.jpg' %}" alt="...">
                        </div>
                        <div class="name">
                            <h4 class="title text-center">Dinamita<br /><small>1911102441097</small></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <bold><p>Seorang Mahasiswi yang bernama Dinamita Romadoni yang sedang menempuh pendidikan perguruan tinggi di Universias Muhammadiyah Kal-Tim
                    Program Studi Teknik Informatika. Website ini saya buat untuk memenuhi mata kuliah Pemograman Web Lanjut.</p></bold>
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock content %}